#toolbar {
  background-color: white;
  color: black;
}

.navbar-menu li {
  display: inline-block;
  margin-right: 30px;
  font-size: 0.9em;

}

.navbar-menu li.logo {
  margin-right: 100px;
}

.navbar-menu li a {
  text-decoration: none;
}

.heading {
  color: orange;
}

.lightgreen {
  background-color: lightgreen;
}

.lightblue {
  background-color: lightblue;
}

#search-input {
  width: 170px; 
}