<form class="search-form" ng-submit="getStockData(symbol)">
    <p>Enter a stock symbol or company name</p>
    <input type="search" ng-model="symbol" class="search-input" placeholder=" search stock by symbol" />
    <button class="search-btn"><b>Search</b></button>
</form>
<div class="badge-container">
    <span ng-repeat="packet in packets" class="symbol-badge" ng-click="removeSymbol(packet.symbol)" title="Click to remove">{{packet.symbol}}</span>
</div>

<div class="chart-container">
  <canvas width="700" height="300"
    id="line" 
    class="chart chart-line" 
    chart-data="data"
    chart-labels="dates" 
    chart-series="company_symbols" 
    chart-options="options"
    chart-dataset-override="datasetOverride" 
    chart-click="onClick">
  </canvas>
</div>


<table>
    <tr>
        <th class="symbol-column">Symbol</th>
        <th class="desc-column">Description</th>
        <th class="date-column">Latest Date</th>
    </tr>
    <tr ng-repeat="packet in packets">
        <td class="symbol-column">{{packet.symbol}}</td>
        <td class="desc-column">{{packet.description}}</td>
        <td class="date-column">{{packet.newest_available_date | date : 'MM-d-yyyy'}}</td>
    </tr>
</table>